{% load static %}

<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href={% static 'css/materialize.min.css' %} media="screen,projection" />
    <link type="text/css" rel="stylesheet" href={% static 'css/main.css' %} />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fábio Junior</title>
</head>

<body class="grey lighten-2">

    <!--BARRA LATERAL-->
    <div class="row">
        <div class="col s12 m4 l3 xl2">
            <ul class="sidenav sidenav-fixed z-depth-2" id="mobile">
                <div class="row foto-perfil center-align">
                    <div class="col s12">
                        <img class="responsive-img circle" width="100" src={% static 'images/foto.png' %}>
                    </div>
                </div>

                <li><a href="#home"> <img src={% static 'images/icons/home.png' %} class="icone-menu" alt="home">Home</a></li>
                <li><a href="#sobre"> <img src={% static 'images/icons/about.png' %} class="icone-menu" alt="about">Sobre</a></li>
                <li><a href="#competencias"> <img src={% static 'images/icons/skills.png' %} class="icone-menu" alt="skills">Competências</a></li>
                <li><a href="#habilidades"> <img src={% static 'images/icons/knowledge.png' %} class="icone-menu" alt="knowledge">Habilidades</a></li>
                <li><a href="#projetos"> <img src={% static 'images/icons/project.png' %} class="icone-menu" alt="project">Projetos</a></li>
                <li><a href="#contato"> <img src={% static 'images/icons/contact.png' %} class="icone-menu" alt="contact"> Entre em contato</a></li>

                <div class="row divider-menu">
                    <div class="divider"></div>
                </div>

                <div class="row">
                    <div class="col offset-xl4 offset-l4 offset-m4 offset-s4">
                        <a href="https://github.com/fjrleao" target="_blank">
                            <img src={% static 'images/icons/github.png' %} class="icone-menu" alt="github">
                        </a>
                    </div>
                    <div class="col">
                        <a href="https://www.linkedin.com/in/fjrleao" target="_blank">
                            <img src={% static 'images/icons/linkedin.png' %} class="icone-menu" alt="linkedin">
                        </a>
                    </div>
                </div>
            </ul>
        </div>

        <!--CORPO DA PAGINA-->
        <div class="col s12 m12 l9 xl10">
            
            <!--HOME-->
            <div class="row titulo">
                <nav class="transparent z-depth-0">
                    <div class="nav-wrapper">
                        <div class="col right xl3 l6 m8 s10">
                            <div class="row">
                                <a name="home" class="brand-logo black white-text">Home</a>
                            </div>
                        </div>
                        <div class="col">
                            <a href="#" data-target="mobile" class=" sidenav-trigger black white-text"><i class="material-icons">menu</i></a>
                        </div>
                    </div>
                </nav>
            </div>

            <div class="row">
                <div class="parallax-container">
                    <div class="parallax">
                        <img src={% static 'images/parallax/tecnologia.jpg' %}>
                    </div>
                </div>
            </div>

            <div class="row conteudo-sessao">
                <div class="col xl12 m10 offset-m1 offset-l1 l10 z-depth-2 white">
                    <h5>
                        <p>
                            Olá,<br>
                            Seja bem-vindo a minha página,<br>
                            Fique a vontade para conhecer um pouco mais sobre mim.<p>
                                <p>
                                    Explore meus projetos, minhas habilidades e saiba mais sobre minhas competências.
                                    <br>
                                    Acesse meus perfis do github e linkedin através dos icones no menu lateral.<p>
                                        Caso tenha interesse, me envie um email através do formulário no final da
                                        página.
                                        <p>
                    </h5>
                </div>
            </div>

            <!--SOBRE-->
            <div class="row center-align">
                <a name="sobre"></a>
                <div class="col offset-s4 s8 offset-m6 m6 offset-l7 l5 offset-xl8 xl4 black z-depth-2 titulo">
                    <h4 class="white-text">Sobre</h4>
                </div>

                
            </div>
            <div class="row">
                <div class="parallax-container">
                    <div class="parallax">
                        <img src={% static 'images/parallax/sobre.jpg' %}>
                    </div>
                </div>
            </div>

            <div class="row conteudo-sessao">

                <div class="col">
                    <div class="col s12 m6 l4 xl3">
                        <div class="card blue-grey z-depth-3">
                            <div class="card-content white-text">
                                <span class="card-title">História com a tecnologia</span>
                                <div class="divider"></div>
                                <p>Vivência com tecnologia desde a infância
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col s12 m6 l4 xl3">
                        <div class="card blue-grey">
                            <div class="card-content white-text">
                                <span class="card-title">História com a programação</span>
                                <div class="divider"></div>
                                <p>Primeiros contatos com programação quando comecei curso técnico em informática no IF
                                    Goiano, na cidade de Iporá.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col s12 m6 l4 xl3">
                        <div class="card blue-grey">
                            <div class="card-content white-text">
                                <span class="card-title">Graduação</span>
                                <div class="divider"></div>
                                <p>Formado em Ciência da Computação pela Universidade Federal de Mato Grosso.<br>
                                    Curso finalizado no ano começo do ano de 2020.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <!--Competencias-->
            <div class="row center-align">
                <a name="competencias"></a>
                <div class="col offset-s4 s8 offset-m6 m6 offset-l7 l5 offset-xl8 xl4 black z-depth-2 titulo">
                    <h4 class="white-text">Competências</h4>
                </div>
            </div>
            <div class="row">
                <div class="parallax-container">
                    <div class="parallax">
                        <img src={% static 'images/parallax/competencias.jpg' %}>
                    </div>
                </div>
            </div>

            <div class="row">

                <div class="col">
                    <div class="col s12 m6 l4 xl3">
                        <div class="card blue-grey darken-1">
                            <div class="card-content white-text">
                                <span class="card-title" id="competencias-titulo">Card Title</span>
                                <p id="competencias-corpo">I am a very simple card. I am good at containing small bits
                                    of information.
                                    I am convenient because I require little markup to use effectively.</p>
                            </div>
                            <div class="card-action">
                                <a class="btn tooltipped" data-tooltip="Saber mais" onClick='abreModal(1)'>Abrir
                                    modal</a>
                            </div>
                        </div>
                    </div>
                    <div class="col s12 m6 l4 xl3">
                        <div class="card blue-grey darken-1">
                            <div class="card-content white-text">
                                <span class="card-title">Card Title</span>
                                <p>I am a very simple card. I am good at containing small bits of information.
                                    I am convenient because I require little markup to use effectively.</p>
                            </div>
                            <div class="card-action">
                                <a href="#">This is a link</a>
                                <a href="#">This is a link</a>
                            </div>
                        </div>
                    </div>
                    <div class="col s12 m6 l4 xl3">
                        <div class="card blue-grey darken-1">
                            <div class="card-content white-text">
                                <span class="card-title">Card Title</span>
                                <p>I am a very simple card. I am good at containing small bits of information.
                                    I am convenient because I require little markup to use effectively.</p>
                            </div>
                            <div class="card-action">
                                <a href="#">This is a link</a>
                                <a href="#">This is a link</a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <!--Habilidades-->
            <div class="row center-align">
                <a name="habilidades"></a>
                <div class="col offset-s4 s8 offset-m6 m6 offset-l7 l5 offset-xl8 xl4 black z-depth-2 titulo">
                    <h4 class="white-text">Habilidades</h4>
                </div>
            </div>
            <div class="row">
                <div class="parallax-container">
                    <div class="parallax">
                        <img src={% static 'images/parallax/habilidades.jpg' %}>
                    </div>
                </div>
            </div>

            <div class="row">

                <div class="col">
                    <div class="col s12 m6 l4 xl3 ">
                        <div class="card blue-grey darken-1">
                            <div class="card-content white-text">
                                <span class="card-title">Card Title</span>
                                <p>I am a very simple card. I am good at containing small bits of information.
                                    I am convenient because I require little markup to use effectively.</p>
                            </div>
                            <div class="card-action">
                                <a href="#">This is a link</a>
                                <a href="#">This is a link</a>
                            </div>
                        </div>
                    </div>
                    <div class="col s12 m6 l4 xl3">
                        <div class="card blue-grey darken-1">
                            <div class="card-content white-text">
                                <span class="card-title">Card Title</span>
                                <p>I am a very simple card. I am good at containing small bits of information.
                                    I am convenient because I require little markup to use effectively.</p>
                            </div>
                            <div class="card-action">
                                <a href="#">This is a link</a>
                                <a href="#">This is a link</a>
                            </div>
                        </div>
                    </div>
                    <div class="col s12 m6 l4 xl3">
                        <div class="card blue-grey darken-1">
                            <div class="card-content white-text">
                                <span class="card-title">Card Title</span>
                                <p>I am a very simple card. I am good at containing small bits of information.
                                    I am convenient because I require little markup to use effectively.</p>
                            </div>
                            <div class="card-action">
                                <a href="#">This is a link</a>
                                <a href="#">This is a link</a>
                            </div>
                        </div>
                    </div>
                    <div class="col s12 m6 l4 xl3">
                        <div class="card blue-grey darken-1">
                            <div class="card-content white-text">
                                <span class="card-title">Card Title</span>
                                <p>I am a very simple card. I am good at containing small bits of information.
                                    I am convenient because I require little markup to use effectively.</p>
                            </div>
                            <div class="card-action">
                                <a href="#">This is a link</a>
                                <a href="#">This is a link</a>
                            </div>
                        </div>
                    </div>
                    <div class="col s12 m6 l4 xl3">
                        <div class="card blue-grey darken-1">
                            <div class="card-content white-text">
                                <span class="card-title">Card Title</span>
                                <p>I am a very simple card. I am good at containing small bits of information.
                                    I am convenient because I require little markup to use effectively.</p>
                            </div>
                            <div class="card-action">
                                <a href="#">This is a link</a>
                                <a href="#">This is a link</a>
                            </div>
                        </div>
                    </div>
                    <div class="col s12 m6 l4 xl3">
                        <div class="card blue-grey darken-1">
                            <div class="card-content white-text">
                                <span class="card-title">Card Title</span>
                                <p>I am a very simple card. I am good at containing small bits of information.
                                    I am convenient because I require little markup to use effectively.</p>
                            </div>
                            <div class="card-action">
                                <a href="#">This is a link</a>
                                <a href="#">This is a link</a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <!--Projetos-->
            <div class="row center-align">
                <a name="projetos"></a>
                <div class="col offset-s4 s8 offset-m6 m6 offset-l7 l5 offset-xl8 xl4 black z-depth-2 titulo">
                    <h4 class="white-text">Projetos</h4>
                </div>
            </div>
            <div class="row">
                <div class="parallax-container">
                    <div class="parallax">
                        <img src={% static 'images/parallax/projetos.jpg' %}>
                    </div>
                </div>
            </div>

            <div class="row">

                <div class="col">
                    <div class="col s12 m6 l4 xl3 ">
                        <div class="card blue-grey darken-1">
                            <div class="card-content white-text">
                                <span class="card-title">Card Title</span>
                                <p>I am a very simple card. I am good at containing small bits of information.
                                    I am convenient because I require little markup to use effectively.</p>
                            </div>
                            <div class="card-action">
                                <a href="#">This is a link</a>
                                <a href="#">This is a link</a>
                            </div>
                        </div>
                    </div>
                    <div class="col s12 m6 l4 xl3">
                        <div class="card blue-grey darken-1">
                            <div class="card-content white-text">
                                <span class="card-title">Card Title</span>
                                <p>I am a very simple card. I am good at containing small bits of information.
                                    I am convenient because I require little markup to use effectively.</p>
                            </div>
                            <div class="card-action">
                                <a href="#">This is a link</a>
                                <a href="#">This is a link</a>
                            </div>
                        </div>
                    </div>
                    <div class="col s12 m6 l4 xl3">
                        <div class="card blue-grey darken-1">
                            <div class="card-content white-text">
                                <span class="card-title">Card Title</span>
                                <p>I am a very simple card. I am good at containing small bits of information.
                                    I am convenient because I require little markup to use effectively.</p>
                            </div>
                            <div class="card-action">
                                <a href="#">This is a link</a>
                                <a href="#">This is a link</a>
                            </div>
                        </div>
                    </div>
                    <div class="col s12 m6 l4 xl3">
                        <div class="card blue-grey darken-1">
                            <div class="card-content white-text">
                                <span class="card-title">Card Title</span>
                                <p>I am a very simple card. I am good at containing small bits of information.
                                    I am convenient because I require little markup to use effectively.</p>
                            </div>
                            <div class="card-action">
                                <a href="#">This is a link</a>
                                <a href="#">This is a link</a>
                            </div>
                        </div>
                    </div>
                    <div class="col s12 m6 l4 xl3">
                        <div class="card blue-grey darken-1">
                            <div class="card-content white-text">
                                <span class="card-title">Card Title</span>
                                <p>I am a very simple card. I am good at containing small bits of information.
                                    I am convenient because I require little markup to use effectively.</p>
                            </div>
                            <div class="card-action">
                                <a href="#">This is a link</a>
                                <a href="#">This is a link</a>
                            </div>
                        </div>
                    </div>
                    <div class="col s12 m6 l4 xl3">
                        <div class="card blue-grey darken-1">
                            <div class="card-content white-text">
                                <span class="card-title">Card Title</span>
                                <p>I am a very simple card. I am good at containing small bits of information.
                                    I am convenient because I require little markup to use effectively.</p>
                            </div>
                            <div class="card-action">
                                <a href="#">This is a link</a>
                                <a href="#">This is a link</a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <!--Entre em contato-->
            <div class="row">
                <a name="contato"></a>
                <div class="col offset-s4 s8 offset-m6 m6 offset-l7 l5 offset-xl8 xl4 black z-depth-2 titulo">
                    <h4 class="white-text">Entre em contato</h4>
                </div>
            </div>
            <div class="row">
                <div class="parallax-container">
                    <div class="parallax">
                        <img src={% static 'images/parallax/contato.jpg' %}>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col xl12 l12 m12 s12 white z-depth-2">
                    <div class="row form-contato">
                        <div class="input-field black-text col s12 m12 l4 xl4">
                            <i class="material-icons prefix">person</i>
                            <input id="nome" type="text" class="validate">
                            <label for="nome">Nome</label>
                        </div>
                        <div class="input-field black-text col s12 m12 l4 xl4">
                            <i class="material-icons prefix">email</i>
                            <input id="email" type="text" class="validate">
                            <label for="email">Email</label>
                        </div>
                        <div class="input-field black-text col s12 m12 l4 xl4">
                            <i class="material-icons prefix">mode_edit</i>
                            <input id="assunto" type="text" class="validate">
                            <label for="assunto">Assunto</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field black-text col s12 m12 l12 xl12">
                            <i class="material-icons prefix">subject</i>
                            <textarea id="textarea" class="materialize-textarea"></textarea>
                            <label for="textarea">Mensagem</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12 m12 l12 xl12">
                            <button class="btn waves-effect waves-light" type="submit" name="action">Submit
                                <i class="material-icons right">send</i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="modal" class="modal">
            <div class="modal-content">
                <h4 id="titulo-modal"></h4>
                <p id="corpo-modal"></p>
            </div>
            <div class="modal-footer">
                <a class="modal-close waves-effect waves-green btn-flat">Fechar</a>
            </div>
        </div>
    </div>
    <script type="text/javascript" src={% static 'js/main.js' %}></script>
    <script type="text/javascript" src={% static 'js/materialize.min.js' %}></script>
</body>

</html>