{% load static %}

<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href={% static 'css/materialize.min.css' %} media="screen,projection" />
    <link type="text/css" rel="stylesheet" href={% static 'css/main.css' %} />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="shortcut icon" type="image/png" href="https://previews.dropbox.com/p/thumb/AAyolkNeO9kcgp7ukqRg6Ep_VTbfzFbKHSn7xRheKUkLbNX53Nt_93kXRanFC_LhjfZaYPgef-D7P7PL4gkD18SkCRtBOyvpU16xGqyZbs-u9qar5IlE51fPsLdHWaEhmK7jl4bg4TzVO3Q6SlLw9yhrxcUYGWyCEDSCS7SOih75jamHAOjzYlWqqWIBDtdOVWvWwBHP4e1YnTR8rmbZrSmD7BtjjJ8c6geGsZC2srTmaVMhfk3e_zZdztaDeWHuMuwL6HH089_IftAhQsQ07sASW0CPsBIs5_JYV2wB4_CIF0SYxQ5PDYP9HEA53eehLX_1lrUXEUUjvc-YZ3gAyPXe78Cl7wmYwVw91AjcPmYi8w/p.png?fv_content=true&size_mode=5"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fábio Junior</title>
</head>

<body class="grey lighten-2">

    <!--BARRA LATERAL-->
    <div class="row">
        <div class="col s12 m4 l3 xl2">
            <ul class="sidenav sidenav-fixed z-depth-2" id="mobile">
                <div class="row foto-perfil center-align">
                    <div class="col s12">
                        <img class="responsive-img circle" width="100" src='https://previews.dropbox.com/p/thumb/AAyY2n962N6lLYkKXSpOq53pn8GfAB4xo6YUC539z-keaxhvDfe-cPKQnpNnoSdmjd9ZA5gQrHCWeUwDlpLaitky0KI6QwTl1mepuaQ0eUpMkgZ_0xzShpH3cl0ib61oPn4mGEjLKgCOnOneST8DzZxzlnDOW1ewJk0Vppv4koPhvWVTSVzPXi5Q9nGZ63fuJGh6euYBYJigqPnyXZBlPoBKSJqBpUUAR8rB1hpuerQcubaowSDkkecoUN41l3YUWvr2BZPZv7HrkKnoPZbudBUw6j33HWRe4-e81tiGSsGXg39Pkr2-iBO7E-ZudbTR3inEEOu9L2cCRpjqgLC3Dsb-a200VJZzebs6TpVu3gB79w/p.png?size=2048x1536&size_mode=3'>
                    </div>
                </div>

                {% for sessao in sessoes %}
                    <li><a href="#{{sessao.slug}}"> <img src={{sessao.icone_menu}} class="icone-menu">{{sessao.titulo}}</a></li>
                {% endfor %}

                <div class="row divider-menu">
                    <div class="divider"></div>
                </div>

                <div class="row">
                    <div class="col offset-xl4 offset-l4 offset-m4 offset-s4">
                        <a href="https://github.com/fjrleao" target="_blank">
                            <img src="https://previews.dropbox.com/p/thumb/AAyjk9mU2_yjZHPezbBy-5clVu96hnXps_iwCCOikR4Bqmx5zldSIIWvCYsrHXA-fvrszrH_uwSAu-5K2PMCS95jgvO3uzkC6sbIUEeVYipUTwM4fTp3WZ2awvIasNhTHwATqmLtBtvdfsCjAk4oum3SkK1FesowDpNm10U-pHt5cMEtLTgClJ_vBjTrK-1ef0ryG-Rt29q86OUzfJwuqKSlKQy9oW45ZL9A0EdhJJjq_-aRXPzzNbc9VBjpTuu9WLBVDgK5J9rq_HNZHJ6pA4n27DRSJTKgL7xyh5hXjZv8cTp5Z5YtZiKDsRtIq6c87fJWOMU6kMzkKbpftL0K5ZNUiXziKKF2OAQ7_cxqnyJSFg/p.png?size=2048x1536&size_mode=3" class="icone-menu" alt="github">
                        </a>
                    </div>
                    <div class="col">
                        <a href="https://www.linkedin.com/in/fjrleao" target="_blank">
                            <img src="https://previews.dropbox.com/p/thumb/AAzqL_9w95D0uI7Hv68FkArXHfH__ys-EIX3xdIj80gkRtNdr7tnW9q-Imr9iwNKHKvy2-o3oXhDkRemU3W-hoTNlZuAF-GL9S-cojvKidopgmJhBKVIg8ImowyLvSBoRUSVPUEy4X4gLeruHFzT5XifW0SpRdHb0ZMbZiT4txKStcO7dibTqjsmf5jzhncEgyHrnmFoHtUCeRwBQ7Cxr-Z16r6mvWON_GL8ehbenkENqPWXRw6D2NRYeJ2fvwkSIHSbb-5g7tlSdzzNIOzRaNb1-KH6w6txxtdjACWYAglamtuJ7y0b335Zw9YL9plbEIx4ysG_2r90wXAOvHt8wQg8v36GAS8mN6K02AqHNwSUHQ/p.png?size=2048x1536&size_mode=3" class="icone-menu" alt="linkedin">
                        </a>
                    </div>
                </div>
            </ul>
        </div>

        <!--CORPO DA PAGINA-->
        <div class="col s12 m12 l9 xl10">
            {% for sessao in sessoes %}
                <div class="row">
                    <a name={{sessao.slug}}></a>
                </div>
                <div class="row titulo">
                    <nav class="transparent z-depth-0">
                        <div class="nav-wrapper">
                            <div class="col right xl3 l6 m8 s10">
                                <div class="row">
                                    <a class="brand-logo black white-text">{{sessao.titulo}}</a>
                                </div>
                            </div>
                            <div class="col">
                                <a href="#" data-target="mobile" class=" sidenav-trigger black white-text"><i class="material-icons">menu</i></a>
                            </div>
                        </div>
                    </nav>
                </div>
                <div class="row">
                    <div class="parallax-container">
                        <div class="parallax">
                            <img src={{sessao.imagem_parallax}}>
                        </div>
                    </div>
                </div>
                <div class="row conteudo-sessao">
                    <div class="col">
                        {% for card in cards %}
                            {% if card.sessao == sessao %}
                                <div class="col s12 m6 l4 xl4">
                                    <div class="card blue-grey z-depth-3">
                                        <div class="card-content white-text">
                                            <span class="card-title">{{card.titulo}}</span>
                                            <div class="divider"></div>
                                            <p>
                                                {{card.conteudo}}
                                            </p>
                                        </div>

                                        {% for modal in modals %}
                                            {% if modal.card == card %}
                                                <div class="card-action">
                                                    <button class="btn waves-effect waves-light" type="submit" name="{{modal.slug}}" onClick="abreModal(this)">{{modal.titulo}}
                                                        <i class="material-icons right">open_in_new</i>
                                                    </button>
                                                    <div id="titulo-{{modal.slug}}" hidden>
                                                        {{modal.titulo}}
                                                    </div>
                                                    <div id="corpo-{{modal.slug}}" hidden>
                                                        {{modal.conteudo}}
                                                    </div>
                                                </div>
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                    {% for texto in textos %}
                        {% if texto.sessao == sessao %}
                            <div class="col xl12 m12 offset-l1 l10 z-depth-2 white">
                                <h3>
                                    {{texto.titulo}}
                                </h3>
                                <h5>
                                    {{texto.conteudo}}
                                </h5>
                            </div>
                        {% endif %}
                    {% endfor %}
                    {% if sessao.form_contato %}
                        <div class="col xl12 l12 m12 s12 white z-depth-2">
                            <div class="row form-contato">
                                <div class="input-field black-text col s12 m12 l4 xl4">
                                    <i class="material-icons prefix">person</i>
                                    <input id="nome" type="text" class="validate">
                                    <label for="nome">Nome</label>
                                </div>
                                <div class="input-field black-text col s12 m12 l4 xl4">
                                    <i class="material-icons prefix">email</i>
                                    <input id="email" type="text" class="validate">
                                    <label for="email">Email</label>
                                </div>
                                <div class="input-field black-text col s12 m12 l4 xl4">
                                    <i class="material-icons prefix">mode_edit</i>
                                    <input id="assunto" type="text" class="validate">
                                    <label for="assunto">Assunto</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field black-text col s12 m12 l12 xl12">
                                    <i class="material-icons prefix">subject</i>
                                    <textarea id="textarea" class="materialize-textarea"></textarea>
                                    <label for="textarea">Mensagem</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col s12 m12 l12 xl12">
                                    <button class="btn waves-effect waves-light" type="submit" name="action">Submit
                                        <i class="material-icons right">send</i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                </div>
            {% endfor %}
        </div>

        <div id="modal" class="modal">
            <div class="modal-content">
                <h4 id="titulo-modal"></h4>
                <p id="corpo-modal"></p>
            </div>
            <div class="modal-footer">
                <a class="modal-close waves-effect waves-green btn-flat">Fechar</a>
            </div>
        </div>
    </div>
    <script type="text/javascript" src={% static 'js/main.js' %}></script>
    <script type="text/javascript" src={% static 'js/materialize.min.js' %}></script>
</body>

</html>