{% load static %}

<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href={% static 'css/materialize.min.css' %} media="screen,projection" />
    <link type="text/css" rel="stylesheet" href={% static 'css/main.css' %} />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="shortcut icon" type="image/png" href="https://uc0b8d4ed1599ed60def70624dca.previews.dropboxusercontent.com/p/thumb/AAxOCB5OS2LeQj7makecjaeQpvzQhczRWFVexGq6H-yORoNQiNV94iuuZxEiW2o2EqcltcssJ6mWqWLyU4qmLbr6BqtTf2w_G2XyVwh4n33LbeJOvJWs3rC2usPJw_cQVJjmYajCGFf8MCAQJhvTIHrCHjEku4M8lDL4DUB2ug7XjrObHPXT5k_uLH7l5b9NRl-O7UVLYzvZZkBCv8BwyFiNYE6orihYU_iO4PJjsQHJYr7WYXBQtdSux7h-nDYYFh5j8ZXzAym-1HkoFP88MQlVLwCju-AusaFlvU9hq1ONraD-tQcYRkkYbs4qb7QAALFMA3W68AP7p53bU_PTT5YJrf7ySZDqimwav5LWpdG51KIpwNTVWGuoHl6dohm2WDY9KM6TfXVyHizD_t4anFR2/p.png?fv_content=true&size_mode=5"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fábio Junior</title>
</head>

<body class="grey lighten-2">

    <!--BARRA LATERAL-->
    <div class="row">
        <div class="col s12 m4 l3 xl2">
            <ul class="sidenav sidenav-fixed z-depth-2" id="mobile">
                <div class="row foto-perfil center-align">
                    <div class="col s12">
                        <img class="responsive-img circle" width="100" src='https://ucfc5374bc9f505d4d15cbc9b219.previews.dropboxusercontent.com/p/thumb/AAxqCKq6rxEHS5h727Svg5wWTo2_uE1H54aCEnqiAFV7o2PObDx01DbcwDRodW5jBmKkhHI-AbFjX7EVMUeCOjC1hz8kHk79qoa12xT8PYQLOsCEzjjF-JtJ94PdCFr5Tb0v4i12GehsLSEP5N0VwH_q5QoXM3KDV_BojqnHInhzskFhNJkAcXACRWWKE9x3UiV7qncy3AiWn8c_smobZ0JsXsRsadXnMMpXdJcBhcAvKLSN1YIXruHQZWAO5gKCHBtL40aVEi-UYFlzRognT06mXM7IkjdQDT8dgYbSYCm-rbXj7y9OvrF6v-lghjoxMQ88GYJZzfgJgolOLMwecD5M-gP63tmuSMb4KzPqy9hwWnLIRWvg_7CcSeGALuM75sgdQ98263WsHCrWKdvHszJVrjrnc2sNBYMqKcHACM0KLRU8_8xgM4D7NAEyvbz_kH_sDCu39ihB5NHFCiuhsLLG/p.png?fv_content=true&size_mode=5'>
                    </div>
                    <div class="col s12">
                        <h6>Fábio Junior</h6>
                    </div>
                </div>

                {% for sessao in sessoes %}
                    <li><a href="#{{sessao.slug}}"> <img src={{sessao.icone_menu}} class="icone-menu">{{sessao.titulo}}</a></li>
                {% endfor %}

                <div class="row divider-menu">
                    <div class="divider"></div>
                </div>

                <div class="row">
                    <div class="col offset-xl4 offset-l4 offset-m4 offset-s4">
                        <a href="https://github.com/fjrleao" target="_blank">
                            <img src="https://image.flaticon.com/icons/svg/1051/1051326.svg" class="icone-menu" alt="github">
                        </a>
                    </div>
                    <div class="col">
                        <a href="https://www.linkedin.com/in/fjrleao" target="_blank">
                            <img src="https://image.flaticon.com/icons/svg/1384/1384014.svg" class="icone-menu" alt="linkedin">
                        </a>
                    </div>
                </div>
                <div class="row link">
                    <div class="col s12">
                        Imagens: <a href="https://pixabay.com/pt/" target="_blank">pixabay</a>
                    </div>
                </div>
                <div class="row link">
                    <div class="col s12">
                        Icones: <a href="https://www.flaticon.com/" target="_blank">flaticon</a>
                    </div>
                </div>
            </ul>
        </div>

        <!--CORPO DA PAGINA-->
        <div class="col s12 m12 l9 xl10">
            {% for sessao in sessoes %}
                <div class="row">
                    <a name={{sessao.slug}}></a>
                </div>
                <div class="row titulo">
                    <nav class="transparent z-depth-0">
                        <div class="nav-wrapper">
                            <div class="col right xl3 l6 m8 s12">
                                <a class="brand-logo black white-text">{{sessao.titulo}}</a>
                            </div>
                            <div class="col m4 s2">
                                <a href="#" data-target="mobile" class=" sidenav-trigger black white-text"><i class="material-icons">menu</i></a>
                            </div>
                        </div>
                    </nav>
                </div>
                <div class="row">
                    <div class="parallax-container">
                        <div class="parallax">
                            <img src={{sessao.imagem_parallax}}>
                        </div>
                    </div>
                </div>
                <div class="row conteudo-sessao">
                    <div class="col">
                        {% for card in cards %}
                            {% if card.sessao == sessao %}
                                <div class="col s12 m10 l8 xl6">
                                    <div class="card blue-grey z-depth-3">
                                        <div class="card-content white-text">
                                            <span class="card-title">{{card.titulo}}</span>
                                            <div class="divider"></div>
                                            <p>
                                                {{card.conteudo}}
                                            </p>
                                        </div>

                                        {% for modal in modals %}
                                            {% if modal.card == card %}
                                                <div class="card-action">
                                                    <button class="btn waves-effect waves-light light-blue accent-4" type="submit" name="{{modal.slug}}" onClick="abreModal(this)">{{modal.titulo}}
                                                        <i class="material-icons right">open_in_new</i>
                                                    </button>
                                                    <div id="titulo-{{modal.slug}}" hidden>
                                                        {{modal.titulo}}
                                                    </div>
                                                    <div id="corpo-{{modal.slug}}" hidden>
                                                        {{modal.conteudo}}
                                                    </div>
                                                </div>
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                    {% for texto in textos %}
                        {% if texto.sessao == sessao %}
                            <div class="col xl12 m12 offset-l1 l10 z-depth-2 white">
                                <h3>
                                    {{texto.titulo}}
                                </h3>
                                <h5>
                                    {{texto.conteudo}}
                                </h5>
                            </div>
                        {% endif %}
                    {% endfor %}
                    {% if sessao.form_contato %}
                        <div class="col xl12 l12 m12 s12 white z-depth-2">
                            <h5>Me envie um email</h5>
                            <form method="POST" action="/email">
                                {% csrf_token %}
                                <div class="row form-contato">
                                    <div class="input-field black-text col s12 m12 l4 xl4">
                                        <i class="material-icons prefix">person</i>
                                        <input name="nome" type="text" class="validate">
                                        <label for="nome">Nome</label>
                                    </div>
                                    <div class="input-field black-text col s12 m12 l4 xl4">
                                        <i class="material-icons prefix">email</i>
                                        <input name="email" type="text" class="validate">
                                        <label for="email">Email</label>
                                    </div>
                                    <div class="input-field black-text col s12 m12 l4 xl4">
                                        <i class="material-icons prefix">mode_edit</i>
                                        <input name="assunto" type="text" class="validate">
                                        <label for="assunto">Assunto</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="input-field black-text col s12 m12 l12 xl12">
                                        <i class="material-icons prefix">subject</i>
                                        <textarea name="texto" class="materialize-textarea"></textarea>
                                        <label for="textarea">Mensagem</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col s12 m12 l12 xl12">
                                        <button class="btn teal accent-4 waves-effect waves-light" type="submit">Enviar email
                                            <i class="material-icons right">send</i>
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    {% endif %}
                </div>
            {% endfor %}
        </div>

        <div id="modal" class="modal">
            <div class="modal-content">
                <h4 id="titulo-modal"></h4>
                <p id="corpo-modal"></p>
            </div>
            <div class="modal-footer">
                <a class="modal-close waves-effect waves-green btn-flat">Fechar</a>
            </div>
        </div>
    </div>
    <script type="text/javascript" src={% static 'js/main.js' %}></script>
    <script type="text/javascript" src={% static 'js/materialize.min.js' %}></script>
</body>

</html>