.foto-perfil{
    margin-top: 3em;
    margin-bottom: 3em;
}

.icone-menu{
    margin-right: 5%;
    width: 2em;
}

li a{
    font-style: italic;
}

.divider-menu{
    margin-top: 5em;
    margin-bottom: 5em;
}

.card-content .divider{
    margin-bottom: 0.5em;
}

.titulo{
    margin-top: 1.2em;
}

.titulo h4{
    padding-bottom: 0.3em;
    padding-left: 0.5em;
    padding-right: 0.5em;
}

.conteudo-sessao{
    margin-bottom: 4em;
}

h5{
    padding-bottom: 1em;
    padding-left: 1em;
    white-space: pre-line;
    text-align: justify;
}

h3{
    padding-top: 0.5em;
    padding-left: 0.5em;
}

.row .brand-logo{
    background-color: black;
    padding-left: 1em;
    padding-right: 1em;
}

.col .sidenav-trigger i{
    padding-left: 0.5em;
    padding-right: 0.5em;
}

#corpo-modal{
    white-space: pre-line;
    text-align: justify;
}

.link{
    margin-bottom: 0em;
}